@(user: models.users.User)
@main("About", user){

 <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Here at Average Joe's we pride ourselves on having the best team around, Our goal is to give you the best possible gym experience and to provide a positive, friendly enviroment for every member of the Joe's family.</p>
            </div>
        </div>

       <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src="@routes.Assets.versioned("images/ajaboutpic1.1.jpg")" alt="">
                <h3>Peter La Fleur
                    <small>CEO</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg"  src="@routes.Assets.versioned("images/ajaboutpic2.jpg")" alt="">
                <h3>Kate Veatch
                    <small>Operations Manager</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src="@routes.Assets.versioned("images/ajaboutpic3.1.jpg")" alt="">
                <h3>Justin
                    <small>HR</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src= "@routes.Assets.versioned("images/ajaboutpic4.1.jpg")" alt="">
                <h3>Gordon
                    <small>Sales</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src="@routes.Assets.versioned("images/ajaboutpic5.1.jpg")" alt="">
                <h3>Owen
                    <small>Reception</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src="@routes.Assets.versioned("images/ajaboutpic6.1.jpg")" alt="">
                <h3>Dwight
                    <small>Accounting</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src="@routes.Assets.versioned("images/ajaboutpic7.1.jpg")" alt="">
                <h3>Steve
                    <small>Trainer</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center aboutImg" src="@routes.Assets.versioned("images/ajaboutpic8.1.jpg")" alt="">
                <h3>Patches O'Houlihan
                    <small>Trainer</small>
                </h3>
                <p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a></p>
            </div>
        </div>
   
}

