@(user: models.users.User)
@main("Products", user){
       
        <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Average Joe's</p>
                <div class="list-group">
                     <a href="@routes.HomeController.equipment()" class="list-group-item">Equipment</a>
                    <a href="@routes.HomeController.clothing()" class="list-group-item">Gym Clothing</a>
                    <a href="@routes.HomeController.supplements()" class="list-group-item">Supplements</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="@routes.Assets.versioned("images/ajshop3.jpg")" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="@routes.Assets.versioned("images/ajpic5.1.jpg")" alt="">
                                </div>
                                
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@routes.Assets.versioned("images/ajshoppic2.jpg")" alt="">
                            <div class="caption">
                                <h3 class="pull-right">€12.99</h3>
                                <h3><a href="#">Mens Yellow T-Shirt</a>
                                </h3>
                                <p>  </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@routes.Assets.versioned("images/ajshoppic3.jpg")" alt="">
                            <div class="caption">
                                <h3 class="pull-right">€14.99</h3>
                                <h3><a href="#">White low neck T-Shirt</a>
                                </h3>
                                <p></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@routes.Assets.versioned("images/ajshoppic1.jpg")" alt="">
                            <div class="caption">
                                <h3 class="pull-right">€12.99</h3>
                                <h3><a href="#">Girls Yellow T-Shirt</a>
                                </h3>
                                <p></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@routes.Assets.versioned("images/ajshoppic4.png")" alt="">
                            <div class="caption">
                                <h3 class="pull-right">€9.99</h3>
                                <h3><a href="#">White Logo T-Shirt</a>
                                </h3>
                                <p> </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
					
					
					
					
					 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@routes.Assets.versioned("images/ajshoppic5.png")" alt="">
                            <div class="caption">
                                <h3 class="pull-right">€9.99</h3>
                                <h3><a href="#">Burgundy Logo T-Shirt</a>
                                </h3>
                                <p> </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                   

                </div>

            </div>

        </div>
    
    }
    
  
